[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-debug-toolbar = "*"

[packages]
django = "~=3.2"
psycopg2-binary = "~=2.8.6"
django-redis-cache = "*"
pytz = "*"
"gunicorn[gevent]" = "*"
djangorestframework = "*"
django-auth-framework = "*"
django-cors-headers = "*"
django-oauth-toolkit = "*"
# extras
celery = "*"
pillow = "*"
"django-phonenumber-field[phonenumberslite]" = "*"
sentry-sdk = "*"


[requires]
python_version = "3.9"
